/* template */
header{
    padding: 5px 0;
    
}
body{
    background-color: #343a40f1;
}
nav a{
    margin-top: 5px;
    margin-left: 15px;
    
}
nav form{
    display:flex;
    justify-content: center;
    
}
.nav{
    position: fixed;
    height: 50px;
}

.btn-outline-light{
    color: rgb(244, 117, 33); 
}
.cou{
   
    color: rgb(244, 117, 33);
}
.btn1{
    background-color: rgb(244, 117, 33);
}
.btn2{
    background-color: white;
}
footer {
    color: rgb(244, 117, 33);
    
}

/* image */
